// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for PL MIPI with quad-channel design
 *
 * (C) Copyright 2020, Xilinx, Inc.
 *
 * Hyun Kwon <hyun.kwon@xilinx.com>
 */

/dts-v1/;

#include "avnet-ultra96-rev1.dts"

/ {
	amba_pl@0 {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		compatible = "simple-bus";
		ranges;

		misc_clk_0: misc_clk_0 {
			#clock-cells = <0x0>;
			clock-frequency = <0xbebc200>;
			compatible = "fixed-clock";
		};

		mipi_csi2_rx_subsystem@80000000 {
			clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
			clocks = <&misc_clk_0 &misc_clk_0 &misc_clk_0>;
			compatible = "xlnx,mipi-csi2-rx-subsystem-5.0";
			xlnx,en-active-lanes;
			interrupt-names = "csirxss_csi_irq";
			interrupt-parent = <&gic>;
			interrupts = <0x0 0x5a 0x4>;
			reg = <0x0 0x80000000 0x0 0x20000>;
			xlnx,axis-tdata-width = <0x10>;
			xlnx,csi-pxl-format = "YUV422_8bit";
			xlnx,max-lanes = <0x4>;
			xlnx,ppc = <0x1>;
			xlnx,vc = <0x4>;
			xlnx,vfb;
			reset-gpios = <&gpio 0x5c 0x1>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					xlnx,cfa-pattern = "rggb";
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					mipi_csi2_rx_subsystem_out: endpoint {
						remote-endpoint = <&switch_in0>;
					};
				};

				port@1 {
					reg = <0x1>;
					xlnx,cfa-pattern = "rggb";
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					mipi_csi2_rx_subsystem_in: endpoint {
						data-lanes = <0 1 2 3>;
						remote-endpoint = <&max9286_out>;
					};
				};
			};
		};
		PERIPHERAL@ff380000 {
			compatible = "xlnx,PERIPHERAL-1.0";
			reg = <0x0 0xff380000 0x0 0x80000>;
		};

		PERIPHERAL@ff990000 {
			compatible = "xlnx,PERIPHERAL-1.0";
			reg = <0x0 0xff990000 0x0 0x10000>;
		};

		v_frmbuf_wr0: v_frmbuf_wr@80020000 {
			#dma-cells = <0x1>;
			clock-names = "ap_clk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,v-frmbuf-wr-2.1", "xlnx,axi-frmbuf-wr-v2.1";
			interrupt-names = "interrupt";
			interrupt-parent = <&gic>;
			interrupts = <0x0 0x5b 0x4>;
			reg = <0x0 0x80020000 0x0 0x10000>;
			reset-gpios = <&gpio 0x54 0x1>;
			xlnx,dma-addr-width = <0x20>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,pixels-per-clock = <0x1>;
			xlnx,vid-formats = "rgb888", "bgr888", "xbgr8888", "xbgr8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		};

		v_frmbuf_wr1: v_frmbuf_wr@80070000 {
			#dma-cells = <0x1>;
			clock-names = "ap_clk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,v-frmbuf-wr-2.1", "xlnx,axi-frmbuf-wr-v2.1";
			interrupt-names = "interrupt";
			interrupt-parent = <&gic>;
			interrupts = <0x0 0x5c 0x4>;
			reg = <0x0 0x80070000 0x0 0x10000>;
			reset-gpios = <&gpio 0x56 0x1>;
			xlnx,dma-addr-width = <0x20>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,pixels-per-clock = <0x1>;
			xlnx,vid-formats = "rgb888", "bgr888", "xbgr8888", "xbgr8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		};

		v_frmbuf_wr2: v_frmbuf_wr@80180000 {
			#dma-cells = <0x1>;
			clock-names = "ap_clk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,v-frmbuf-wr-2.1", "xlnx,axi-frmbuf-wr-v2.1";
			interrupt-names = "interrupt";
			interrupt-parent = <&gic>;
			interrupts = <0x0 0x5f 0x4>;
			reg = <0x0 0x80180000 0x0 0x10000>;
			reset-gpios = <&gpio 0x58 0x1>;
			xlnx,dma-addr-width = <0x20>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,pixels-per-clock = <0x1>;
			xlnx,vid-formats = "rgb888", "bgr888", "xbgr8888", "xbgr8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		};

		v_frmbuf_wr3: v_frmbuf_wr@80190000 {
			#dma-cells = <0x1>;
			clock-names = "ap_clk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,v-frmbuf-wr-2.1", "xlnx,axi-frmbuf-wr-v2.1";
			interrupt-names = "interrupt";
			interrupt-parent = <&gic>;
			interrupts = <0x0 0x60 0x4>;
			reg = <0x0 0x80190000 0x0 0x10000>;
			reset-gpios = <&gpio 0x5a 0x1>;
			xlnx,dma-addr-width = <0x20>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,pixels-per-clock = <0x1>;
			xlnx,vid-formats = "rgb888", "bgr888", "xbgr8888", "xbgr8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		};

		/*
		v_proc_ss@80080000 {
			clock-names = "aclk_axis", "aclk_ctrl";
			clocks = <&misc_clk_0 &misc_clk_0>;
			compatible = "xlnx,v-proc-ss-2.0", "xlnx,v-vpss-scaler";
			reg = <0x0 0x80080000 0x0 0x40000>;
			reset-gpios = <&gpio 0x55 0x1>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,num-hori-taps = <0x8>;
			xlnx,num-vert-taps = <0x8>;
			xlnx,pix-per-clk = <0x1>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss0_in: endpoint {
						remote-endpoint = <&switch_out0>;
					};
				};

				port@1 {
					reg = <0x1>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss0_out: endpoint {
						remote-endpoint = <&vcap_csi_in0>;
					};
				};
			};
		};

		v_proc_ss@800c0000 {
			clock-names = "aclk_axis", "aclk_ctrl";
			clocks = <&misc_clk_0 &misc_clk_0>;
			compatible = "xlnx,v-proc-ss-2.0", "xlnx,v-vpss-scaler";
			reg = <0x0 0x800c0000 0x0 0x40000>;
			reset-gpios = <&gpio 0x57 0x1>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,num-hori-taps = <0x8>;
			xlnx,num-vert-taps = <0x8>;
			xlnx,pix-per-clk = <0x1>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss1_in: endpoint {
						remote-endpoint = <&switch_out1>;
					};
				};

				port@1 {
					reg = <0x1>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss1_out: endpoint {
						remote-endpoint = <&vcap_csi_in1>;
					};
				};
			};
		};
		v_proc_ss@80100000 {
			clock-names = "aclk_axis", "aclk_ctrl";
			clocks = <&misc_clk_0 &misc_clk_0>;
			compatible = "xlnx,v-proc-ss-2.0", "xlnx,v-vpss-scaler";
			reg = <0x0 0x80100000 0x0 0x40000>;
			reset-gpios = <&gpio 0x59 0x1>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,num-hori-taps = <0x8>;
			xlnx,num-vert-taps = <0x8>;
			xlnx,pix-per-clk = <0x1>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss2_in: endpoint {
						remote-endpoint = <&switch_out2>;
					};
				};

				port@1 {
					reg = <0x1>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss2_out: endpoint {
						remote-endpoint = <&vcap_csi_in2>;
					};
				};
			};
		};

		v_proc_ss@80140000 {
			clock-names = "aclk_axis", "aclk_ctrl";
			clocks = <&misc_clk_0 &misc_clk_0>;
			compatible = "xlnx,v-proc-ss-2.0", "xlnx,v-vpss-scaler";
			reg = <0x0 0x80140000 0x0 0x40000>;
			reset-gpios = <&gpio 0x5b 0x1>;
			xlnx,max-height = <0x870>;
			xlnx,max-width = <0xf00>;
			xlnx,num-hori-taps = <0x8>;
			xlnx,num-vert-taps = <0x8>;
			xlnx,pix-per-clk = <0x1>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss3_in: endpoint {
						remote-endpoint = <&switch_out3>;
					};
				};

				port@1 {
					reg = <0x1>;
					xlnx,video-format = <0x0>;
					xlnx,video-width = <0x8>;

					v_proc_ss3_out: endpoint {
						remote-endpoint = <&vcap_csi_in3>;
					};
				};
			};
		};
		*/

		axis_switch_0: axis_switch@0 {
			compatible = "xlnx,axis-switch-1.1";
			xlnx,routing-mode = <0x0>;
			xlnx,num-si-slots = <0x1>;
			xlnx,num-mi-slots = <0x4>;
			clocks = <&misc_clk_0>;
			clock-names = "aclk";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					switch_in0: endpoint {
						remote-endpoint = <&mipi_csi2_rx_subsystem_out>;
					};
				};
				port@1 {
					reg = <1>;
					switch_out0: endpoint {
						remote-endpoint = <&vcap_csi_in0>;
					};
				};
				port@2 {
					reg = <2>;
					switch_out1: endpoint {
						remote-endpoint = <&vcap_csi_in1>;
					};
				};
				port@3 {
					reg = <3>;
					switch_out2: endpoint {
						remote-endpoint = <&vcap_csi_in2>;
					};
				};
				port@4 {
					reg = <4>;
					switch_out3: endpoint {
						remote-endpoint = <&vcap_csi_in3>;
					};
				};
			};
		};

		vcap_csi {
			compatible = "xlnx,video";
			dma-names = "port0", "port1", "port2", "port3" ;
			dmas = <&v_frmbuf_wr0 0x0 &v_frmbuf_wr1 0x0 &v_frmbuf_wr2 0x0 &v_frmbuf_wr3 0x0>;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					direction = "input";
					reg = <0x0>;

					vcap_csi_in0: endpoint {
						remote-endpoint = <&switch_out0>;
					};
				};
				port@1 {
					direction = "input";
					reg = <0x1>;

					vcap_csi_in1: endpoint {
						remote-endpoint = <&switch_out1>;
					};
				};
				port@2 {
					direction = "input";
					reg = <0x2>;

					vcap_csi_in2: endpoint {
						remote-endpoint = <&switch_out2>;
					};
				};
				port@3 {
					direction = "input";
					reg = <0x3>;

					vcap_csi_in3: endpoint {
						remote-endpoint = <&switch_out3>;
					};
				};

			};
		};
	};
};

&i2csw_0 {
	gmsl-deserializer@6a {
		compatible = "maxim,max9286";
		reg = <0x6a>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				max9286_0_in: endpoint {
					remote-endpoint = <&max96705_0_out>;
				};
			};
			port@1 {
				reg = <1>;
				max9286_1_in: endpoint {
					remote-endpoint = <&max96705_1_out>;
				};
			};
			port@2 {
				reg = <2>;
				max9286_2_in: endpoint {
					remote-endpoint = <&max96705_2_out>;
				};
			};
			port@3 {
				reg = <3>;
				max9286_3_in: endpoint {
					remote-endpoint = <&max96705_3_out>;
				};
			};
			port@4 {
				reg = <4>;
				max9286_out: endpoint {
					data-lanes = <0 1 2 3>;
					remote-endpoint = <&mipi_csi2_rx_subsystem_in>;
				};
			};
		};
		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;
			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				gmsl-serializer@50 {
					compatible = "maxim,max96705";
					reg = <0x50>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <0>;
							max96705_0_in: endpoint {
								remote-endpoint = <&ap0202at_0_out>;
							};
						};
						port@1 {
							reg = <1>;
							max96705_0_out: endpoint {
								remote-endpoint = <&max9286_0_in>;
							};
						};
					};
				};

				camera-sensor@60 {
					compatible = "aptina,ap0202at";
					reg = <0x60>;
					port {
						ap0202at_0_out: endpoint {
							remote-endpoint = <&max96705_0_in>;
						};
					};
				};
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
				gmsl-serializer@51 {
					compatible = "maxim,max96705";
					reg = <0x51>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <0>;
							max96705_1_in: endpoint {
								remote-endpoint = <&ap0202at_1_out>;
							};
						};
						port@1 {
							reg = <1>;
							max96705_1_out: endpoint {
								remote-endpoint = <&max9286_1_in>;
							};
						};
					};
				};

				camera-sensor@61 {
					compatible = "aptina,ap0202at";
					reg = <0x61>;
					port {
						ap0202at_1_out: endpoint {
							remote-endpoint = <&max96705_1_in>;
						};
					};
				};
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				gmsl-serializer@52 {
					compatible = "maxim,max96705";
					reg = <0x52>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <0>;
							max96705_2_in: endpoint {
								remote-endpoint = <&ap0202at_2_out>;
							};
						};
						port@1 {
							reg = <1>;
							max96705_2_out: endpoint {
								remote-endpoint = <&max9286_2_in>;
							};
						};
					};
				};

				camera-sensor@62 {
					compatible = "aptina,ap0202at";
					reg = <0x62>;
					port {
						ap0202at_2_out: endpoint {
							remote-endpoint = <&max96705_2_in>;
						};
					};
				};
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
				gmsl-serializer@53 {
					compatible = "maxim,max96705";
					reg = <0x53>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <0>;
							max96705_3_in: endpoint {
								remote-endpoint = <&ap0202at_3_out>;
							};
						};
						port@1 {
							reg = <1>;
							max96705_3_out: endpoint {
								remote-endpoint = <&max9286_3_in>;
							};
						};
					};
				};

				camera-sensor@63 {
					compatible = "aptina,ap0202at";
					reg = <0x63>;
					port {
						ap0202at_3_out: endpoint {
							remote-endpoint = <&max96705_3_in>;
						};
					};
				};
			};
		};
	};
};
